body {
  width: 30%;
  margin: 0 auto;
}
.header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin: 20px 0 40px 0;
}

.main__form {
  height: 240px;
  border-bottom: 1px solid #dfdcdc;
}
img {
  width: 100%;
}
.input-name {
  color: #767676;
  font-size: 14px;
}
.fa-arrow-right {
  color: #fff;
  padding-right: 10px;
}

.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  background-color: #3000dc;
  height: 40px;
  width: 100%;
  border: none;
  margin-top: 20px;
  cursor: pointer;
}
.button-name {
  color: #fff;
  text-align: left;
  padding-left: 10px;
}
.password-block-name {
  display: flex;
  justify-content: space-between;
  padding: 22px 0 6px 0;
}
.password-block__link {
  color: #3000dc;
  text-decoration: none;
  cursor: pointer;
}
.password-block__link:hover {
  color: #892ebe;
}
.input_value {
  box-sizing: border-box;
  width: 100%;
  height: 20px;
  border: 10px solid #f2f4f8;
  background-color: #f2f4f8;
  cursor: text;
  padding: 10px 6px;
}
.footer {
  color: #767676;
  font-size: 12px;
}
.push {
  margin-top: 50px;
}
.push,
.footer {
  height: 50px;
}
.login-block__input .input-name {
  padding-bottom: 6px;
}
.password-block__input {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #bdbaba;
  background-color: #f2f4f8;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  /* padding-right: 6px; */
}
.input_value:focus {
  outline: none;
  background-color: #e7eefc;
}

.far {
  margin-right: 16px;
  color: #767676;
  font-size: 14px;
  cursor: pointer;
}

.fas:hover,
.far:hover {
  font-size: 15px;
}
@media (max-width: 768px) {
  .header {
    font-size: 10px;
    margin: 20px 0 40px 0;
  }
  .input-name,
  .input_value {
    font-size: 12px;
  }
  .password-block__link {
    font-size: 14px;
  }
  body {
    width: 40%;
    margin: 0 30%;
  }
}
@media (max-width: 576px) {
  body {
    width: 50%;
    margin: 0 25%;
  }
}
@media (max-width: 480px) {
  .header {
    font-size: 8px;
    margin: 20px 0 30px 0;
  }
  .input-name,
  .input_value {
    font-size: 10px;
  }
  .password-block__link {
    font-size: 12px;
  }
  /* .footer {
    color: #767676;
    font-size: 10px;
    margin: 50px 0 0 0;
  } */
}
